

.leaveSideNav
{
    margin-left: 18%;
    height: 90vh;
}

.homePage
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginAlert
{
    font-size: 1.5rem;
}

.loginAlert a
{
    color: #f39c12;
}