@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
.upperNav-ul{
    background-color: #3498db;
    color: white;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
}


.upperNav-ul, .upperNav-ul li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0;
}
.mainLogo{
    font-size:2.5rem;
    font-weight: bold;
    margin-left: 3rem;
}
.userDetail
{
    margin-left: auto;
    margin-right:4rem;
}
.userDetail p{
    padding: 0 2rem;
    font-weight: bold;
}








/* *************************** SIDE NAVBAR CSS ******************* */
.sideNavbar{
    width: 18%;
    background: #00000027;
    height: 92.6vh;
    position: fixed;
    left: 0;
}

.sideNavbar ul li
{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.313);
    text-align: center;
}

.sideNavbar ul{
    margin-top: 2rem ;
}

.sideNavbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
}

.sideNavbar ul li a p
{
    margin-right: 3rem;
    letter-spacing:0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.activeLink{
    font-weight: bold;
    color: #3498db;
}